[submodule "lib/blt-with-graphics"]
	path = lib/blt-with-graphics
	url = https://git.tpgc.me/tri11paragon/BLT-With-Graphics-Template
[submodule "lib/blt-gp"]
	path = lib/blt-gp
	url = https://github.com/Tri11Paragon/blt-gp
[submodule "lib/blt"]
	path = lib/blt
	url = https://github.com/Tri11Paragon/BLT
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/FastNoise2"]
	path = lib/FastNoise2
	url = https://github.com/Auburn/FastNoise2
[submodule "lib/lockfree"]
	path = lib/lockfree
	url = https://github.com/bhhbazinga/LockFreeLinkedList.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
